<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="projects-content">
            <div class="projects-heading-text">
                <p>We build security-centric products.</p>
            </div>
            <div class="projects-metrics-menu">
                <div class="code-coverage">
                    <p>99.96%</p>
                    <p>Code Coverage</p>
                </div>
                <div class="security-assessment">
                    <p>Continuous</p>
                    <p>Security Assessments</p>
                </div>
                <div class="mean-time-to-patch">
                    <p>3 Days</p>
                    <p>Mean Time To Patch</p>
                </div>
            </div>
            <div class="projects-list">
                {{ range .CurrentSection.Pages }}
                <div class="project-list-item">
                   
                    <div class="project-item-logo">
                        <img width="100" height="100" src="{{ .Params.project_image }}" alt="blueprint"/>
                    </div>
                    <div class="project-meta">
                        <a class="project-meta-title">{{ .Title }}</a>
                        <p class="project-meta-description">{{ .Summary }}</p>
                        <button><a href="{{ .Page.Params.link }}">Learn More</a></button>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>