<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="team-content">
            <p id="page-title">Our Team</p>
            <div class="team-primary-row">
                <div class="image-frame"><img src="/team/Sooraj.jpg" class="frame"/><a href="https://www.linkedin.com/in/soorajsathyanarayanan/">Sooraj Sathyanarayanan</a><p>President</p></div>
                <div class="image-frame"><img src="/team/Devesh.jpeg" class="frame"/><a href="https://www.linkedin.com/in/chandedevesh/">Devesh Chande</a><p>Director of Learning Initiative</p></div>
                <div class="image-frame"><img src="/team/Parthiv.jpeg" class="frame"/><a href="https://www.linkedin.com/in/parthivmenon/">Parthiv Menon</a><p>Technical Lead</p></div>
            </div>
            <div class="team-secondary-row">
                <div class="image-frame"><img src="/team/Pratik.jpeg" class="frame"/><a href="https://www.linkedin.com/in/prmody/">Pratik Mody</a><p>Finance Head</p></div>
                <div class="image-frame"><img src="/team/Salman.jpeg" class="frame"/><a href="https://www.linkedin.com/in/salman-wajid-411455163/">Salman Wajid</a><p>Outreach Director</p></div>
                <div class="image-frame"><img src="/team/Sourabh.jpeg" class="frame"/><a href="https://www.linkedin.com/in/sourabhp28/">Sourabh Pawar</a><p>Events Manager</p></div>
                <div class="image-frame"><img src="/team/Swadeep.jpeg" class="frame"/><a href="https://www.linkedin.com/in/swadeepc/">Swadeep Chalwade</a><p>Marketing Head</p></div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>