<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="team-content">
            <p id="page-title">Our Team</p>
            <div class="team-primary-row">
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D4E35AQG13Qo629YvWA/profile-framedphoto-shrink_200_200/0/1708927385132?e=1716253200&v=beta&t=iZPpOUhc63o6Qq1UGCQ_vukRY8c8AGllj18-3aSk0og" class="frame"/><a href="https://www.linkedin.com/in/soorajsathyanarayanan/">Sooraj Sathyanarayanan</a><p>President</p></div>
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D4D03AQEuh4ggl6o6rA/profile-displayphoto-shrink_400_400/0/1692974777263?e=1720051200&v=beta&t=hJycBpoCq6sAdf0YKqSo11OIB87iGmaxz9vxbJBeZU8" class="frame"/><a href="https://www.linkedin.com/in/chandedevesh/">Devesh Chande</a><p>Technical Director</p></div>
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D5603AQG_UBksXKPV3A/profile-displayphoto-shrink_400_400/0/1684676819445?e=1720051200&v=beta&t=P8SSLjt6wtXn7pFkEaT_LVkjK1F5dgy1p9baI3uRI50" class="frame"/><a href="https://www.linkedin.com/in/parthivmenon/">Parthiv Menon</a><p>Technical Lead</p></div>
            </div>
            <div class="team-secondary-row">
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D4D03AQHecxqx2yqcpA/profile-displayphoto-shrink_400_400/0/1692603161921?e=1720051200&v=beta&t=QqghaY__awgTpECOxOCoNBCS06XeaZpIrpvpWJbzgj0" class="frame"/><a href="https://www.linkedin.com/in/prmody/">Pratik Mody</a><p>Treasury Head</p></div>
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D4E03AQH5qK4OnVT7Pw/profile-displayphoto-shrink_200_200/0/1698521241544?e=2147483647&v=beta&t=a4UcRghE-Av_yhBbd9ZgQV3UHCcvBIyHPrBQx0XRiI8" class="frame"/><a href="https://www.linkedin.com/in/salman-wajid-411455163/">Salman Wajid</a><p>Outreach Director</p></div>
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D4D03AQGVN1R0i0NYAA/profile-displayphoto-shrink_400_400/0/1675003819964?e=1720051200&v=beta&t=X-eaePQF63tV3LxOvg2RHmpFJeN2_WgevdzHFLcniPE" class="frame"/><a href="https://www.linkedin.com/in/sourabhp28/">Sourabh Pawar</a><p>Event Management Director</p></div>
                <div class="image-frame"><img src="https://media.licdn.com/dms/image/D4E03AQG558Wn6QEHPQ/profile-displayphoto-shrink_400_400/0/1702007806570?e=1720051200&v=beta&t=t_DhljySBsOeMRI-nuKWFFyhoARNolNeie1j9KuVAeQ" class="frame"/><a href="https://www.linkedin.com/in/swadeepc/">Swadeep Chalwade</a><p>Marketing Director</p></div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>