{{ define "main" }}
        <div class="page-content">
            <div class="blogs-description">
                {{- partial "pageheader.html" ( dict "header" .Title ) -}}
                <ul>
                    <li>{{ .Date.Format "January 2, 2006" }}</li>
                    <li>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }}</li>
                </ul>
            </div> 
            <article id="blog-detail">
                {{ .Content }}
            </article>
        </div>
 {{ end }}