
.blogs-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blogs-description h2 {
    padding: 0;
    margin: 0;
}

.blogs-description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blogs-description ul li {
    list-style-type: none;
    color: var(--null-red);
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    position: relative;
}

.blogs-description ul li:not(:last-child)::after {
    color: var(--base-white);
    content: "|";
    position: relative;
    right: -0.45rem;
    margin-left: 0.5rem;
}

#blog-detail ul li {
    list-style-type: disc;
    margin-bottom: 8px;
    padding-left: 20px;
}

#blog-detail ul {
    padding-left: 20px;
    margin-top: 20px
}

#blog-detail a {
    text-decoration: underline;
}

#blog-detail p {
    line-height: 1.5rem;
}

@media screen and (max-width: 700px) {
    .blogs-description ul li:not(:last-child)::after {
        content: none;
    }

    .blogs-description ul li {
        margin-top: 0.25rem;
    }
}