/* Blog Container CSS */
.blog-list-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Blog Heading CSS */
.blog-list-heading-text {
    text-align: center;
    margin-bottom: 3rem;
}

/* Menu Container CSS */
.blog-post-menu {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* Post-list Item CSS */
.blog-post-item {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}

.blog-post-item-meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog-post-item-meta a {
    text-decoration: none;
    color: inherit;
}

.blog-post-item-description {
    max-width: 70ch;
}

.blog-post-item-meta button {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 4px 7px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 200;
    font-style: normal;
}

.blog-post-item-meta button:hover {
    background-color: black;
    color: white;
}

.blog-post-item-meta button p {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2px;
}

/* Blog Post CSS */

.blog-post-content {
    display: flex;
    flex-direction: column;
}

.blog-post-heading {
    margin: 0 auto;
}

.blog-post-metadata {
    display: flex;
    gap: 1rem;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
}

.blog-post-metadata > li {
    list-style-type: none;
}

.blog-post-heading-hr {
    width: 50%;
    margin: 0 auto;
}

.article {
    margin: 1rem auto;
    max-width: 50%;
}

@media screen and (max-width: 768px) {
    .blog-post-heading-hr {
        width: 50%;
        margin: 0 auto;
    }

    .blog-post-metadata {
        display: flex;
        gap: 1rem;
        margin: 0.5rem auto;
    }

    .article {
        margin: 1rem auto;
        max-width: 80%;
        margin-left: 25%;
    }
  }