.blogs-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    width: 70%;
}

.blogs-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blogs-description h2 {
    padding: 0;
    margin: 0;
}

.blogs-description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blogs-description ul li {
    list-style-type: none;
    color: var(--null-red);
    display: inline-block;
    margin: 0;
    margin-right: 1rem;
    position: relative;
}

.blogs-description ul li:not(:last-child)::after {
    color: white;
    content: "|";
    position: relative;
    right: -0.45rem;
    margin-left: 0.5rem;
}

#blog-detail ul li {
    list-style-type: disc; /* Or any style you prefer */
    margin-bottom: 8px; /* Adds space between list items */
    padding-left: 20px; /* Adds some padding for better alignment */
}

#blog-detail ul {
    padding-left: 20px; /* Adjusts padding to align with custom list-style */
    margin-top: 20px; /* Adds space above the list */
}


.blogs-list {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .blogs-description ul li:not(:last-child)::after {
        content: none;
    }

    .blogs-description ul li {
        margin-top: 0.25rem;
    }
}