/* Compete Container CSS */

.compete-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

/* Compete Heading CSS */
.compete-heading-text p {
    text-align: center;
    margin-bottom: 2rem;
}

.compete-list {
    display: flex;
    margin: auto;
    max-width: 50ch;
    text-align: center;
}