footer {
    padding: 2rem;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-social-media a {
    margin-right: 10px;
}

.footer-sub-heading {
    color: var(--text-color-dark-gray);
}

.footer-navigation-links {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px 20px;
}

@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;
        gap: 10px;
    }
}