/* Header Container CSS */
header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 0.5rem;
}

.header-logo:hover {
    transform: scale(0.9);
    transition: all 200ms ease-in-out;
}

/* Hamburger styling */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    color: var(--text-color-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--text-color-white);
  cursor: pointer;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background-color: var(--background-color);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Header Navigation CSS */
.navigation-menu {
    display: flex;
}

.navigation-menu > li {
    margin-right: 1rem;
    overflow: hidden;
}

/* Responsive Header CSS */
@media screen and (max-width: 800px) {
    .menu-button-container {
        display: flex;
    }
    .navigation-menu {
        position: absolute;
        top: 0;
        padding: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        background-color: var(--text-color-gray);
        color: var(--background-color);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle:checked ~ .navigation-menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle ~ .navigation-menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .navigation-menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
    }
}