/* Header Container CSS */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 0.5rem;
}

/* Hamburger styling */
.hamburger {
    display: none;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.close .bar:first-child {
    transform: translate(0, 8px) rotate(-45deg);
}

.close .bar:nth-child(2) {
    opacity: 0;
}

.close .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(45deg);
}

/* Header Navigation CSS */
.navigation-menu {
    letter-spacing: 2px;
    display: flex;
    list-style-type: none;
}

.navigation-menu > li {
    margin-right: 1rem;
}

.navigation-menu-link {
    text-decoration: none;
    color: black;
}

/* Responsive Header CSS */
@media screen and (max-width: 800px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .closed {
        display: none;
    }
    .navigation-menu {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: black;
        height: 100%;
        width: 70%;
        padding: 2rem;
    }
    .navigation-menu li {
        margin: 5px 0;
    }
    .navigation-menu-link {
        color: white;
    }
}