.home-content-wrapper {
	width: 70%;
	margin: 0 auto;

	.home-content-item {
		margin: 4rem 0;
	}
}

.matters {
	font-size: 6rem;
	font-weight: bolder;

	@media only screen and (max-width: 780px) {
		font-size: 3rem;
		text-align: center;
	}
}

.home-card {
	width: 90%;
	padding: 3rem 0;
	border-radius: 10px;

	.card-main-icon {
		font-size: 2.5rem;
	}

	.home-card-text {
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	.home-card-summary {
		color: gray;
	}

	.home-card-link {
		margin-top: 10px;
		color: gray;
		gap: 5px;
		text-decoration: underline;
		transition: all ease-in-out 100ms;

		&:hover {
			gap: 0.7rem;
		}
	}

	@media only screen and (max-width: 780px) {
		padding: 2rem 0;
	}
}

.home-card:hover {
	cursor: pointer;
}

.speakers-header {
	font-size: 1.2rem;
	font-style: italic;

	@media only screen and (max-width: 780px) {
		text-align: center;
	}
}