.home {
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .matters-text {
    font-family: "Inconsolata";
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

/* animated text styling begins */

.matters-wrapper {
	height: 85px;
	overflow: hidden;
}

.content-container-list {
    margin-top: 0;
    text-align: center;
    padding-inline-start: 0;
}

.content-container-list-item {
    line-height: 85px;
    /* white-space: nowrap; */
    margin: 0;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes change {
	0%, 20%, 100% {
		transform: translate3d(0, 0, 0);
   }
	30%, 40% {
		transform: translate3d(0, -100%, 0);
   }
	50%, 60% {
		transform: translate3d(0, -200%, 0);
	}
	70%, 80% {
		transform: translate3d(0, -300%, 0);
	}
}

/* animated text styling ends */

.home h2 {
    margin-top: 10px;
    margin-bottom: 2rem;
    font-family: "Inconsolata";
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 2.5rem;
}

.home .cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.home-card {
    background-color: var(--dark-gray);
    padding: 20px;
    border-radius: 16px;
}

.home-card:hover {
    text-decoration: none;
    opacity: 0.8;
}

.home-card .home-card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.home-card .home-card-text p {
    width: 60%;
    margin: 0;
}

.map-area {
    min-height: 100vh;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-area p {
    width: 25%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.map-image {
    height: 500px;
    width: 50%;
    background: url("/images/worldmap.svg") no-repeat center center;
    background-attachment: scroll;
    background-size: contain;
}

.map-area a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: var(--dark-gray);
    background-color: var(--base-gray);
}

.map-area a:hover {
    text-decoration: none;
    opacity: 0.9;
}

@media screen and (max-width: 700px) {
    .home h2 {
        font-size: 2rem;
    }

    .home-card {
        width: 80%;
    }

    .map-image {
        width: 100%;
        height: 500px;
        background-size: 300%;
        background-position: 27%;
    }

    .map-area p {
        width: 90%;
        font-size: inherit;
    }
}