/* Index Container CSS */
.index-content {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

/* Keyword Carousel */
.keyword-carousel {
    margin: 5rem auto;
}

.keyword-list-item {
    font-size: 2rem;
    list-style-type: none;
}

/* Activities Menu CSS */
.activities-menu {
    display: flex;
    gap: 10rem;
    margin-top: 5rem;
}

/* Code Community CSS*/
.activities-menu-code {
    display: flex;
    flex-direction: column;
}

.activities-menu-code p {
    text-align: center;
}

.activities-menu-code a {
    text-decoration: none;
    color: inherit;
}

.activities-menu-code button {
    align-self: start;
    display: inline-block;
    text-align: center;
    margin-top: 0.5rem;
    width: 5rem;
    height: 1.5rem;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.75rem;
}

.activities-menu-code button:hover {
    background-color: black;
    color: white;
}

/* Competition Community CSS*/
.activities-menu-competition {
    display: flex;
    flex-direction: column;
}

.activities-menu-competition p {
    text-align: center;
}

.activities-menu-competition a {
    text-decoration: none;
    color: inherit;
}

.activities-menu-competition button {
    align-self: start;
    display: inline-block;
    text-align: center;
    margin-top: 0.5rem;
    width: 5rem;
    height: 1.5rem;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.75rem;
}

.activities-menu-competition button:hover {
    background-color: black;
    color: white;
}

/* Activities Community CSS*/
.activities-menu-community {
    display: flex;
    flex-direction: column;
}

.activities-menu-community p {
    text-align: center;
}

.activities-menu-community a {
    text-decoration: none;
    color: inherit;
}

.activities-menu-community button {
    align-self: start;
    display: inline-block;
    text-align: center;
    margin-top: 0.5rem;
    width: 5rem;
    height: 1.5rem;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.75rem;
}

.activities-menu-community button:hover {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 800px) {
    .activities-menu {
        flex-direction: column;
        margin: 0;
        padding: 3rem 0;
        gap: 3rem;
    }
}