* {
    --base-white: #F9F9F9;
    --base-gray: #DBDBDB;
    --medium-gray: #A8A8A8;
    --dark-gray: #313131;
    --base-black: #1C1C1C;
    --null-red: #F35656;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    background-color: var(--base-black);
    color: var(--base-gray);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

button {
    border: none;
}

/* CSS common to pages and/or components */

/* CSS for page header including header and subheader */

.page-content {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.page-header {
    color: var(--base-white);
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 900;
}

.page-subheader {
    color: var(--base-white);
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 400;
}

.page-content-separator {
    height: 2px;
    width: 100%;
    background-color: var(--medium-gray);
    margin-top: 2rem;
}

/* CSS for lists on pages */

.page-list {
    margin-top: 3rem;
}

.list-card {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 1rem;
    margin: 30px 0;
}

.list-card-image {  
    width: 100%;
    border-radius: 10px;
}

.list-card-content-title {
    font-weight: 700;
    margin: 0;
}

.list-card-content-description {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--base-gray);
}

.list-card-link button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.list-card-link button {
    border-radius: 5px;
    background-color: var(--dark-gray);
    color: var(--base-gray);
    padding: 7px 12px;
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .page-content {
        width: 85%;
    }

    .list-card {
        grid-template-columns: auto;
    }

    .list-card-image {
        width: 70px;
        height: 70px;
    }
}