/* Projects Container CSS */

.projects-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}

/* Projects Heading CSS */
.projects-heading-text p {
    text-align: center;
}

/* Projects-metrics Container CSS */
.projects-metrics-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 2rem auto;
}

.code-coverage {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.security-assessment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.mean-time-to-patch {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

/* Projects-list Container CSS */
.projects-list {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    gap: 4rem;
}

.project-list-item {
    display: flex;
    gap: 1rem;
}

.project-meta {
    display: flex;
    flex-direction: column;
}

.project-meta p {
    max-width: 62.5ch;
    overflow-wrap: break-word;
}

.project-meta-description {
    margin-top: 0.25rem;
}

.project-meta button {
    align-self: start;
    display: inline-block;
    text-align: center;
    margin-top: 0.5rem;
    padding: 4px 7px;
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: 200;
    font-style: normal;
    font-size: 0.75rem;
}

.project-meta button:hover {
    background-color: black;
    color: white;
}

.project-meta button a {
    text-decoration: none;
    color: inherit;
}

/* Projects Post CSS */

.projects-post-content {
    display: flex;
    flex-direction: column;
}

.projects-post-heading {
    margin: 0 auto;
}

.projects-post-metadata {
    display: flex;
    gap: 1rem;
    margin: 0.5rem auto;
}

.projects-post-metadata > li {
    list-style-type: none;
}

.projects-post-heading-hr {
    width: 50%;
    margin: 0 auto;
}

.article {
    margin: 1rem auto;
    max-width: 100ch;
}
