* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, button {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-style: normal;
}