.team-member-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 50px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-member p {
    font-family: "Inconsolata", sans-serif;
    color: var(--null-red);
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 10px auto;
}

.team-member a {
    display: block;
    text-decoration: underline;
    margin-top: 15px;
}

.team-member a:hover {
    text-decoration: none;
}

.team-member a:last-child {
    margin-top: 0;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--map-area-background);
}

.team-member a:last-child:hover {
    background-color: transparent;
}

.team-member-image {
    border-radius: 50%;
}