/* Team Container CSS */
.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Team Heading CSS */
#page-title {
    text-align: center;
    font-weight: 300;
}

/* Team Primary Row CSS */
.team-primary-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.image-frame {
    display: flex;
    flex-direction: column;
}

.image-frame a {
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
    text-align: center;
}

.image-frame p {
    margin: 0px;
    color: black;
    text-align: center;
}

/* Team Secondary Row CSS */
.team-secondary-row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.team-primary-row img {
    height: 200px;
    width: 200px;
}

.team-secondary-row img {
    height: 200px;
    width: 200px;
}

.frame {
    clip-path: circle(40%);
}