<footer class="flex sanchez">
	<ul class="flex align-items-center">
		<!-- social media logos here -->
		<i class="iconoir-instagram" style="font-size: 1.4rem;"></i>
		<i class="iconoir-linkedin" style="font-size: 1.4rem;"></i>
		<i class="iconoir-mastodon" style="font-size: 1.4rem;"></i>
		<i class="iconoir-mail" style="font-size: 1.4rem;"></i>
		<i class="iconoir-x" style="font-size: 1.4rem;"></i>
	</ul>
	<!-- extra links -->
	<ul class="flex align-items-center">
		<li><a class="nav-link" href="mailto:">Contact</a></li>
		<li><a class="nav-link" href="/about">About</a></li>
	</ul>
</footer>