<footer>
    <div class="footer-social-media">
        <p class="footer-sub-heading">Connect with us on</p>
        <div>
            <a href="https://ioc.exchange/@null_NEU" target="_blank" rel="me"><img width="22" height="22" src="/icons/mastodon.svg"/></a>
            <a href="https://www.linkedin.com/company/null-neu" target="_blank"><img width="24" height="24" src="/icons/linkedin.svg" alt="linkedin"/></a>
            <a href="https://github.com/nullNEU" target="_blank"><img width="24" height="24" src="/icons/github.svg" alt="github"/></a>
        </div>
    </div>
    <div class="footer-navigation">
        <p class="footer-sub-heading">More about us</p>
        <div class="footer-navigation-links">
            <a href="/careers">Careers</a>
            <a href="/team/board">Team</a>
            <a href="https://neu.campuslabs.com/engage/organization/null_neu" target="_blank">NUEngage</a>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</footer>