<footer class="flex">
	<ul class="flex align-items-center">
		<!-- social media logos here -->
		<a href="https://instagram.com/null.neu/" referrerpolicy="noreferrer" target="_blank"><i class="bx bxl-instagram" style="font-size: 1.4rem;"></i></a>
		<a href="https://www.linkedin.com/company/null-neu/" referrerpolicy="noreferrer" target="_blank"><i class="bx bxl-linkedin" style="font-size: 1.4rem;"></i></a>
		<a href="https://github.com/nullNEU/" referrerpolicy="noreferrer" target="_blank"><i class="bx bxl-github" style="font-size: 1.4rem;"></i></a>
	</ul>
	<!-- extra links -->
	<ul class="flex align-items-center">
		<li><a class="nav-link" href="mailto:null_NEU@proton.me">Contact</a></li>
		<li><a class="nav-link" href="/about">About</a></li>
	</ul>
</footer>