<head>
	<title>{{- .Title -}}</title>
	{{ $css := resources.Get "css/reset.css" }}
	{{ $styles := $css | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"/>
	{{ $css := resources.Get "css/index.css" }}
	{{ $styles := $css | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"/>
	{{ $css := resources.Get "css/home.css" }}
	{{ $styles := $css | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"/>
	<!-- icon library -->
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
</head> 