<header>
    <!-- Header Navigation Elements -->
    <div class="header-logo">
        <a href="/"><img width="50" height="50" src="https://img.icons8.com/ios/50/block.png" alt="block"/></a>
    </div>
    <div class="header-navigation-bar">
        <ul class="navigation-menu">
            <li><a class="navigation-menu-link" href="/blog">Blog</a></li>
            <li><a class="navigation-menu-link" href="/projects">Projects</a></li>
            <li><a class="navigation-menu-link" href="/events">Events</a></li>
        </ul>
    </div>
</header>