<header>
    <!-- Header Navigation Elements -->
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <div class="header-logo">
        <a href="/"><img width="40" height="40" src="/images/null_logo.svg" alt="Null Logo"/></a>
    </div>
    <ul class="navigation-menu">
        <li><a class="navigation-menu-link" href="/blog">Blog</a></li>
        <li><a class="navigation-menu-link" href="/projects">Projects</a></li>
        <li><a class="navigation-menu-link" href="/events">Events</a></li>
    </ul>
</header>