<!-- CSS Objects -->
{{ $resetCSS := resources.Get "css/reset.css" }}
{{ $headerCSS := resources.Get "css/header.css" }}
{{ $footerCSS := resources.Get "css/footer.css" }}
{{ $teamCSS := resources.Get "css/team.css" }}
{{ $aboutCSS := resources.Get "css/about.css" }}
{{ $projectsCSS := resources.Get "css/projects.css" }}
{{ $careersCSS := resources.Get "css/careers.css" }}
{{ $blogCSS := resources.Get "css/blog.css" }}
{{ $eventsCSS := resources.Get "css/events.css" }}
{{ $indexCSS := resources.Get "css/index.css" }}
{{ $competeCSS := resources.Get "css/compete.css" }}
{{ $privacyPolicyCSS := resources.Get "css/privacy-policy.css" }}

<head>
    <title>{{- .Title -}}</title>

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet Inclusions -->
    <link type="text/css" rel="stylesheet" href="{{ $headerCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $footerCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $resetCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $teamCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $aboutCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $careersCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $blogCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $eventsCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $indexCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $competeCSS.RelPermalink }}"/>
    <link type="text/css" rel="stylesheet" href="{{ $privacyPolicyCSS.RelPermalink }}"/>

    <!-- Generic Header Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Mastodon Verification -->
    <link href="https://ioc.exchange/@null_NEU" rel="me">
</head>