<head>
	<title>{{- .Title -}}</title>
	{{ $css := resources.Get "css/reset.css" }}
	{{ $styles := $css | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"/>
	{{ $css := resources.Get "css/index.css" }}
	{{ $styles := $css | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"/>
	{{ $css := resources.Get "css/home.css" }}
	{{ $styles := $css | toCSS | minify | fingerprint }}
	<link type="text/css" rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen"/>
</head> 