{{ define "main" }}
    <div class="page-content">
        {{- partial "pageheader.html" ( dict "header" "We love like minded people." "subHeader" "Join us if you like anything cybersec" ) -}}
        <div class="page-content-separator"></div>
        <h3>We are always looking for volunteers!</h3>
        <p>We have a simple philosophy—bring together people passionate about security and support them in building secure products.</p>
        <p>If you think that you have the right mindset, the come help us in our events, join us in writing about tech and interact with like minded people in Northeastern!</p>
        <a class="careers-join-the-chat" href="https://t.me/+S7uxWGwmLfY5NTk1" target="_blank">Join the chat <span><img height="17" width="17" src="/icons/telegram.svg" alt="Telegram icon" /></span></a>
        <div class="page-list">
            <h2>Other open positions</h2>
            <!-- filter positions by the isOpen parameter so that only available positions are displayed  -->
            {{ $openPositionList := where .CurrentSection.Pages.ByDate.Reverse "Params.isOpen" true }}
            {{ if eq ($openPositionList | len) 0 }}
                <div class="careers-empty-list">
                    <p>Nothing here yet :(</p>
                </div>
            {{ else }}
                {{ range $openPositionList }}
                    <div class="careers-list-item">
                        <div class="careers-list-item-top">
                            <p>{{ .Page.Title }}</p>
                            <p>Posted on {{ time.Format "2 Jan 2006" .Page.Date }}</p>
                        </div>
                        <div class="careers-list-item-bottom">
                            <pre>to work with {{ .Params.ToWorkWith }}</pre>
                            <a href="{{ .Params.ApplyLink }}" target="_blank">Apply here <img height="15" width="15" src="/icons/external-link.svg" alt="External link icon" /></a>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>   
{{ end }}