<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="careers-content">
            <div class="careers-heading-text">
                <p>We have a simple philosophy.</p>
                <p>Bring together people passionate about security and support them in building secure products.</p>
            </div>
            <div class="careers-roles-heading">
                <p>Open Roles</p>
            </div>
            <div class="roles">
                <div class="role-block">
                    <div class="role-heading-text">
                        <p>Full Stack Developer</p>
                    </div>
                    <div class="role-meta-text">
                        <div class="role-meta-location">
                            <img width="16" height="16" src="https://img.icons8.com/ios/50/globe--v1.png" alt="globe--v1"/><p>Remote</p>
                        </div>
                        <div class="role-meta-team-description">
                            <img width="16" height="16" src="https://img.icons8.com/windows/32/user-group-man-woman.png" alt="user-group-man-woman"/><p>Technical Team</p>
                        </div>
                        <div class="role-meta-apply">
                            <button><p>Apply</p></button>
                        </div>
                    </div>
                </div>
                <div class="role-block">
                    <div class="role-heading-text">
                        <p>Creative Designer</p>
                    </div>
                    <div class="role-meta-text">
                        <div class="role-meta-location">
                            <img width="16" height="16" src="https://img.icons8.com/ios/50/globe--v1.png" alt="globe--v1"/><p>Remote</p>
                        </div>
                        <div class="role-meta-team-description">
                            <img width="16" height="16" src="https://img.icons8.com/windows/32/user-group-man-woman.png" alt="user-group-man-woman"/><p>Design Team</p>
                        </div>
                        <div class="role-meta-apply">
                            <button><p>Apply</p></button>
                        </div>
                    </div>
                </div>
                <div class="role-block">
                    <div class="role-heading-text">
                        <p>Event Co-ordinator</p>
                    </div>
                    <div class="role-meta-text">
                        <div class="role-meta-location">
                            <img width="16" height="16" src="https://img.icons8.com/ios/50/globe--v1.png" alt="globe--v1"/><p>Boston, MA</p>
                        </div>
                        <div class="role-meta-team-description">
                            <img width="16" height="16" src="https://img.icons8.com/windows/32/user-group-man-woman.png" alt="user-group-man-woman"/><p>Event Management</p>
                        </div>
                        <div class="role-meta-apply">
                            <button><p>Apply</p></button>
                        </div>
                    </div>
                </div>
                <div class="role-block">
                    <div class="role-heading-text">
                        <p>Outreach Co-ordinator</p>
                    </div>
                    <div class="role-meta-text">
                        <div class="role-meta-location">
                            <img width="16" height="16" src="https://img.icons8.com/ios/50/globe--v1.png" alt="globe--v1"/><p>Remote</p>
                        </div>
                        <div class="role-meta-team-description">
                            <img width="16" height="16" src="https://img.icons8.com/windows/32/user-group-man-woman.png" alt="user-group-man-woman"/><p>Outreach Team</p>
                        </div>
                        <div class="role-meta-apply">
                            <button><p>Apply</p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>