{{ define "main" }}
<div class="home-content-wrapper">
	<h1>Security matters</h1>
	<div class="grid columns-three-and-one">
		{{- partial "homecard.html" ( dict "test" "Card one content goes here" ) -}}
		{{- partial "homecard.html" ( dict "test" "Card two content goes here" ) -}}
		{{- partial "homecard.html" ( dict "test" "Card three content goes here" ) -}}
	</div>
	<h4>Our speakers work at world class firms</h4>
	<div class="flex flex-wrap companies-list">
		<!-- company logos -->
	</div>
</div>
{{ end }}
