<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        
        <div class="map-area">
            <div class="map-image"></div>
            <p>
                We are the official student chapter of the null community at Northeastern University,
                dedicated to fostering a dynamic environment for cybersecurity education, collaboration, and innovation.
            </p>
            <a id="join-conversation-button" href="https://t.me/+S7uxWGwmLfY5NTk1">Join the conversation
                <span><img height="17" width="17" src="/icons/telegram.svg" /></span>
            </a>
        </div>

        {{- partial "footer.html" . -}}
    </body>
</html>