<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        
        <div class="page-content">
            {{- partial "pageheader.html" ( dict "header" "We have the best speakers." "subHeader" "Security professionals from world-class firms" ) -}}
            <p class="speakers-from">SPEAKERS FROM</p>
            <div class="company-strip">
                <img class="company-strip-logo" src="/company-logos/akamai.svg" />
                <img class="company-strip-logo" src="/company-logos/citizens-bank.svg" />
                <img class="company-strip-logo" src="/company-logos/discover.svg" />
                <img class="company-strip-logo" src="/company-logos/ernst-and-young.svg" />
                <img class="company-strip-logo" src="/company-logos/fidelity.svg" />
                <img class="company-strip-logo" src="/company-logos/raytheon.svg" />
            </div>
            <div class="page-content-separator"></div>
            <div class="page-list">
                {{ range .CurrentSection.Pages }}
                {{- partial "listcard.html"
                    ( dict
                        "cardTitle" .Page.Title
                        "cardDescription" .Page.Summary
                        "buttonLink" ""
                        "buttonText" "Sign up now"
                    )
                -}}
                {{ end }}
            </div>
        </div>

        {{- partial "footer.html" . -}}
    </body>
</html>